<div class="world-engine-container">
    <div class="world-engine-toolbar">
        <div>
            <h3 data-i18n="World Engine">World Engine</h3>
            <p class="world-engine-description" data-i18n="Open an interactive 3D view inside SillyTavern.">Open an interactive 3D view inside SillyTavern.</p>
        </div>
        <div class="world-engine-open-button" id="world_engine_open_in_tab">
            <span class="fa-solid fa-arrow-up-right-from-square"></span>
            <span data-i18n="Open in new tab">Open in new tab</span>
        </div>
    </div>
    <div class="world-engine-iframe-wrapper">
        <iframe id="world_engine_iframe" class="world-engine-iframe" src="{{src}}" title="World Engine" allowfullscreen></iframe>
    </div>
</div>
